{{/*  <div class="d-block bg-dark">
  <div class="p-2 text-light">
    <small>&copy; 2021 - {{ .Site.Title }}</small>
  </div>
</div>
    
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->  */}}

<div class="container">
  <div class="row g-custom-x">
      <div class="col-lg-5 ">
          <a href="index.html">
              <img src="images/logo.png" alt="" />
              <div class="spacer-20"></div>
              <p>We provide cutting-edge Internet of Things (IOT) solutions
                that are designed to streamline and optimize your business operations.</p>
          </a>
          <div class="spacer-10"></div>
        
      </div>
      <div class="col-lg-4">
          <div class="row">
              <div class="col-lg-6">
          <div class="widget">
              <h5>Natuna's Product</h5>
              <ul>
                  <li><a href="https://1wave.world/maritime/maps/live">1Wave</a></li>
                  <li><a href="https://1hub.world/">1Hub</a></li>
                  <li><a href="#">1Things</a></li>
              </ul>
          </div>
      </div>
      <div class="col-lg-4">
          <div class="widget">
              <h5>Useful Links</h5>
              <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#page-about">About</a></li>
                  <li><a href="#page-solution">Solution</a></li>
                  <li><a href="#page-usecase">Use Case</a></li>
                  <li><a href="#page-contact">Contact</a></li>
              </ul>
          </div>
      </div>
          </div>
      </div>
      <div class="col-lg-3">
        <div class="widget">
            <h5>Contact Info</h5>
            <ul>
                <li><a href="tel:+622150886205"> +62 21 508 862 05</a></li>
                <li><a href="mailto:info@natuna.global">info@natuna.global</a></li>
                <li><a href="#">Office Hours : 08.00 - 17.00 <a></li>
                <li><a href="#">Monday - Friday </a></li>
            </ul>
        </div>
    </div>
  </div>
</div>
<div class="subfooter">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="d-flex justify-content-between">
                  <div class="de-flex-col">
                      Copyright 2023 - 1things
                  </div>
                  <ul class="menu-simple">
                      <li><a href="#">Terms &amp; Conditions</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>

<script src="js/plugins.js"></script>
<script src="js/designesia.js"></script>
<script src="js/validation.js"></script>

<!-- SLIDER REVOLUTION SCRIPTS  -->
<script src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>