{{/*  <nav class="navbar navbar-expand-lg navbar-light bg-body">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">{{- .Site.Title -}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{ range .Site.Menus.main }}
        <li class="nav-item">
          <a class="nav-link{{ if $.IsMenuCurrent "main" . }} active" aria-current="page{{ end }}" href="{{ .URL }}">{{ .Pre }}
            <span>{{ .Name }}</span></a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>  */}}
  <nav>
      <ul id="mainmenu">
          <li><a href="#revolution-slider">Home</a></li>
          <li><a href="#page-about">About Us</a></li>
          <li><a href="#page-pricing">Pricing</a></li>
          <li><a href="#page-services">Services</a></li>
          <li><a href="#page-contact">Contact</a></li>
          <li><a href="elements.html">Elements</a></li>
          <li><a href="blog.html">Blog</a></li>
      </ul>
  </nav>