{{ define "main" }}
   <!-- revolution slider begin -->
   <div class="fullwidthbanner-container jarallax" data-video-src="mp4:video/bg.mp4">
    <div id="revolution-slider">
        <ul>
            {{/*  <li data-transition="fade" data-slotamount="10" data-masterspeed="200" data-thumb="images-slider/thumbs/thumb1.jpg">
                <!--  BACKGROUND IMAGE -->
                <img src="images/blank.png">
                <div class="tp-caption ultra-big-white customin customout start"
                    data-x="center"
                    data-y="center"
                    data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="400"
                    data-start="400"
                    data-easing="easeInOutExpo"
                    data-endspeed="300">
                    <span class="id-color">One</span>Host
                </div>

                <div class="tp-caption sfr teaser"
                    data-x="center"
                    data-y="336"
                    data-speed="400"
                    data-start="800"
                    data-easing="easeInOutExpo">
                    Welcome to OneHost. One Stop Web Hosting Solutions 
                </div>

                <div class="tp-caption lfb"
                    data-x="center"
                    data-y="390"
                    data-speed="400"
                    data-start="1200"
                    data-easing="easeInOutExpo">
                    <a href="#page-about" class="btn-main btn-border"><span>About Us</span></a>&nbsp;&nbsp;
                    <a href="#page-pricing" class="btn-main"><span>Get Hosting</span></a>
                </div>
                
               
            </li>

            <li data-transition="fade" data-slotamount="10" data-masterspeed="200" data-thumb="images-slider/thumbs/thumb1.jpg">
                <!--  BACKGROUND IMAGE -->
                <img src="images/blank.png">
                <div class="tp-caption ultra-big-white customin customout start"
                    data-x="center"
                    data-y="center"
                    data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="400"
                    data-start="400"
                    data-easing="easeInOutExpo"
                    data-endspeed="300">
                    All In <span class="id-color">One</span>
                </div>

                <div class="tp-caption sfr teaser"
                    data-x="center"
                    data-y="336"
                    data-speed="400"
                    data-start="800"
                    data-easing="easeInOutExpo">
                    Cloud Computing - Virtual Server - Domain Name
                </div>

                <div class="tp-caption lfb"
                    data-x="center"
                    data-y="390"
                    data-speed="400"
                    data-start="1200"
                    data-easing="easeInOutExpo">
                    <a href="#page-about" class="btn-main btn-border"><span>About Us</span></a>&nbsp;&nbsp;
                    <a href="#page-pricing" class="btn-main"><span>Get Hosting</span></a>
                </div>
            </li>  */}}

            <li data-transition="fade" data-slotamount="10" data-masterspeed="200" data-thumb="images-slider/thumbs/thumb1.jpg">
                <!--  BACKGROUND IMAGE -->
                <img src="images/blank.png">
                <div class="tp-caption ultra-big-white customin customout start text-center"
                    data-x="center"
                    data-y="center"
                    data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="400"
                    data-start="400"
                    data-easing="easeInOutExpo"
                    data-endspeed="300">
                    <span class="id-color">All-in-one<br></span>Solution
                </div>

                <div class="tp-caption sfr teaser text-center"
                    data-x="center"
                    data-y="360"
                    data-speed="400"
                    data-start="800"
                    data-easing="easeInOutExpo">
                    We provide cutting-edge Internet of Things (IOT) solutions <br> that are designed to streamline and optimize your business operations.
                </div>

                <div class="tp-caption lfb"
                    data-x="center"
                    data-y="420"
                    data-speed="400"
                    data-start="1200"
                    data-easing="easeInOutExpo">
                    <a href="#page-about" class="btn-main btn-border"><span>About Us</span></a>&nbsp;&nbsp;
                    <a href="#page-contact" class="btn-main"><span>Contact Us<span></a>
                </div>
            </li>
        </ul>
    </div>
    <div class="de-overlay"></div>
</div>
<!-- revolution slider close -->
<!-- content begin -->
<div id="content" class="no-bottom no-top">
    <!-- about us section begin -->
    <section id="page-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 my-auto text-justify">
                    <h2 class="animated" data-animation="fadeInLeft">How We Solve Your Problem</h2>
                    <br><br>
                    <p>Transform your business with IoT solutions that connect your people, machines, and data. Our powerful platform enables you to optimize your operations, increase efficiency, and drive growth. With our easy-to-use dashboard monitoring, you can make data-driven decisions in real-time, while our app development tools provide endless possibilities for customization. From predictive maintenance to inventory management, our IoT solutions can help you stay ahead of the curve in today's rapidly-evolving business landscape. Experience the power of IoT with us today and unlock a new era of success for your business.</p>
                  </div>
                  <div class="col-md-6">
                    <img src="images/misc/prob.png" alt="" class="img-fluid">
                  </div>
            </div>
        </div>
    </section>
    <!-- about us section close -->
    <!-- pricing section begin -->
    <section id="page-solution" class="jarallax text-light">
        <img src="images/background/bg.jpg" class="jarallax-img" alt="">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 text-center">
                    <h1 class="animated" data-animation="fadeInLeft">Solutions
                        <span class="small-border"></span>
                    </h1>
                    {{/*  <p class="lead animated" data-animation="fadeIn">
                        Advocates of public and hybrid clouds claim that cloud computing allows companies to avoid or minimize up-front IT infrastructure costs.
                        <div class="spacer-single"></div>  */}}
                </div>
                <div class="feature-box-image col-md-4 animated" data-animation="fadeInLeft">
                    <div class="inner">
                        <div class="text">
                            <img src="images/misc/1.jpg" alt="" class="img-rounded">
                            <h3>Dashboard Monitoring</h3>
                            IoT solutions can provide real-time monitoring of various sensors and devices, presenting the data in easy-to-understand dashboards. These dashboards can be customized to show the metrics that matter most to a particular industry or use case, and can be used to identify trends, patterns, and anomalies in the data.
                        </div>
                    </div>
                </div>
                <div class="feature-box-image col-md-4 animated" data-animation="fadeInUp">
                    <div class="inner">
                        <div class="text">
                            <img src="images/misc/2.jpg" alt="" class="img-rounded">
                            <h3>Predictive Analytics</h3>
                            IoT solutions can use machine learning algorithms to analyze sensor data and predict future outcomes. This can help businesses make more informed decisions and identify new opportunities for growth and innovation.
                        </div>
                    </div>
                </div>
                <div class="feature-box-image col-md-4 animated" data-animation="fadeInRight">
                    <div class="inner">
                        <div class="text">
                            <img src="images/misc/3.jpg" alt="" class="img-rounded">
                            <h3>App Development</h3>
                            IoT solutions often provide APIs and SDKs that developers can use to build custom applications that leverage IoT data. These apps can be used to automate processes, visualize data, and create new insights and business models.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- pricing section close -->
    <!-- include section begin -->
    <section id="page-usecase" data-speed="10" data-type="background">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 text-center">
                    <h2 class="animated" data-animation="fadeInLeft">Use Case</h2>
                    <div class="spacer-single"></div>
                </div>
                <!-- feature box begin -->
                <div class="feature-box-image-2 col-md-6 animated" data-animation="fadeInLeft">
                    <div class="inner">
                        <img src="images/misc/manufacture.png" alt="" class="img-circle shadow_sm m-1" height="80">
                        <div class="text">
                            <h3>Manufacture</h3>
                            An IoT solution can provide real-time visibility into production processes and machine performance, enabling managers to optimize operations and reduce downtime. Dashboard monitoring can provide insights into quality control, supply chain management, and predictive maintenance.
                        </div>
                    </div>
                </div>
                <!-- feature box close -->
                <!-- feature box begin -->
                <div class="feature-box-image-2 col-md-6 animated" data-animation="fadeInLeft">
                    <div class="inner">
                        <img src="images/misc/transportation.png" alt="" class="img-circle shadow_sm m-1" height="80">
                        <div class="text">
                            <h3>Transportation & Logistics</h3>
                            An IoT solution can track shipments and inventory with real-time visibility, optimize delivery routes and scheduling, and provide predictive maintenance for vehicles and equipment. Dashboard monitoring can provide insights into fleet management, driver behavior, and fuel consumption.
                        </div>
                    </div>
                </div>
                <!-- feature box close -->
                <!-- feature box begin -->
                <div class="feature-box-image-2 col-md-6 animated" data-animation="fadeInLeft">
                    <div class="inner">
                        <img src="images/misc/oil.png" alt="" class="img-circle shadow_sm m-1" height="80">
                        <div class="text">
                            <h3>Oil & Gas</h3>
                            In the oil and gas industry, IoT provides real-time data and insights to optimize production, improve safety, and reduce downtime. With remote monitoring, predictive maintenance, and enhanced situational awareness, companies can increase efficiency, reduce costs, and improve safety
                        </div>
                    </div>
                </div>
                <!-- feature box close -->
                <!-- feature box begin -->
                <div class="feature-box-image-2 col-md-6 animated" data-animation="fadeInLeft">
                    <div class="inner">
                        <img src="images/misc/agriculture.png" alt="" class="img-circle shadow_sm m-1" height="80">
                        <div class="text">
                            <h3>Agriculture</h3>
                            An IoT solution can monitor soil moisture levels, track weather patterns, and provide predictive maintenance for farming equipment. Dashboard monitoring can provide insights into crop yields, irrigation needs, and equipment performance.
                        </div>
                    </div>
                </div>
                <!-- feature box close -->
            </div>
        </div>
    </section>
   
    <!-- contact section begin -->
    <section id="page-contact" class="jarallax text-light">
        <img src="images/background/bg-blur-2.jpg" class="jarallax-img" alt="">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 text-center">
                    <h1 class="animated" data-animation="fadeInLeft">Contact Us
                        <span class="small-border"></span>
                    </h1>
                    {{/*  <p class="lead animated" data-animation="fadeIn">
                        Advocates of public and hybrid clouds claim that cloud computing allows companies to avoid or minimize up-front IT infrastructure costs.
                        <div class="spacer-single"></div>  */}}
                </div>
                <div class="col-md-6">
                    <form name="contactForm" id='contact_form' method="post" action='email.php'>
                        <div id='name_error' class='error'>Please enter your name.</div>
                        <div>
                            <input type='text' name='name' id='name' class="form-control" placeholder="Your Name">
                        </div>
                        <div id='email_error' class='error'>Please enter your valid E-mail ID.</div>
                        <div>
                            <input type='text' name='email' id='email' class="form-control" placeholder="Your Email">
                        </div>
                        <div id='subject_error' class='error'>Please enter the subject.</div>
                        <div>
                            <input type='text' name='subject' id='subject' class="form-control" placeholder="Subject">
                        </div>
                        <div id='message_error' class='error'>Please enter your message.</div>
                        <div>
                            <textarea name='message' id='message' class="form-control" placeholder="Your Message"></textarea>
                        </div>
                        <div id='mail_success' class='success'>Your message has been sent successfully.</div>
                        <div id='mail_fail' class='error'>Sorry, error occured this time sending your message.</div>
                        <p id='submit'>
                            <input type='submit' id='send_message' value='Submit Form' class="btn-main">
                        </p>
                    </form>
                </div>
                <div class="col-md-6">
                    <address>
                        <span><i class="fa fa-map-marker fa-lg"></i><a href="https://goo.gl/maps/m48x4CV9LYz6x9SN6">Jl. Boulevard Europa No.10 RT.001/RW.009, Panunggangan Barat, Kec. Cibodas, Kota Tangerang, Banten, Indonesia</a></span>
                        <span><i class="fa fa-phone fa-lg"></i><a href="tel:+622150886205">+62 21 508 862 05</a></span>
                        <span><i class="fa fa-envelope-o fa-lg"></i><a href="mailto:info@natuna.global">info@natuna.global</a></span>
                        <span><i class="fa fa-globe fa-lg"></i><a href="https://natuna.global/">PT. Natuna Global Ekapersada</a></span>
                    </address>
                </div>
            </div>
        </div>
    </section>
    <!-- contact section close -->
<!-- content close -->
{{ end }}